@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

section {
  padding: 2rem 0;
}

section.dark {
  background-color: gray;
  color: white;
}

section.dark a {
  color: white;
}

section.dark *::-webkit-scrollbar {
  width: 0.5rem;
}

section.dark *::-webkit-scrollbar-track {
  background: black;
  border-radius: 0.5rem;
}

section.dark *::-webkit-scrollbar-button {
  display: none;
}

section.dark *::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 0.5rem;
}

section.dark *::-webkit-scrollbar-thumb:hover {
  background: #555;
}
